.door-listing-wrp {
  .card-wrp {
    padding-bottom: 25px;

    .item-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      h5 {
        width: 50%;
        margin-bottom: 0;
        font-size: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h4 {
      margin-bottom: 20px;
      text-decoration: underline;
    }
  }

  .badge-success {
    background-color: #28a745;
  }

  .badge-secondary {
    background-color: #6c757d;
  }
}
